.stopwatch {
	background: lightgray;
	border-radius: 1.0em;
	height: 50%;
	justify-content: space-around;
	margin: 0 auto;
	width: 50%;
}

.stopwatch-header {
	margin: 0 auto;
	padding: 1.0em;
}

.stopwatch-time-display {
	align-items: center;
	justify-content: center;
}

.stopwatch-numbers {
	font-size: 2.5rem;
}

.stopwatch-control {
	gap: 2.0em;
	justify-content: center;
	margin-top: 2.0em;
}

.stopwatch-control-button {
	border-radius: 0.5em;
	color: red;
	font-size: 1.0rem;
	height: 3.0em;
	width: 7.0em;
}