.stopwatch {
	background: lightgray;
	border: 1px solid red;
	border-radius: 1.0em;
	height: 50%;
	margin: 0 auto;
	width: 50%;
}

.stopwatch-header {
	margin: 0 auto;
	padding: 1.0em;
}

.stopwatch-time-display {
	align-items: center;
	justify-content: center;
}